.container{
    display: flex;
    background-color: khaki;
}

.img-container{
    display: flex;
    padding: 1rem 1rem;
    width: 100%;
}

.img{
    width: 8%;
}

h5{
    width: max-content;
    font-size: 1rem;
}

.text-container{
    display: flex;
    padding: 1rem 1rem;
}