body{
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.nav-bar{
    text-align: right;
    background-color: indianred;
    padding: 1%;
}

.nav-bar,.footer-container{
    color: white;
}

.heading{
    margin-top: 1rem;
}

.body-container{
    background-color: lightcyan;
}

.API-text{
    padding-top: 1rem;
    font-family: cursive;
}

.list{
    text-align: left;
}

.img{
    width: 100%;
    margin: 15% auto;
}

.footer-container{
    padding: 2.5rem;
    background-color: indianred;
    
}

